In [1]:
# importando as bibliotecas
import pandas as pd

## 1. Analisando o dataset

In [2]:
# importando o dataset
spaceship_titanic = pd.read_csv("train.csv")
spaceship_titanic.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [3]:
# Verificando o tamanho do dataset
len(spaceship_titanic)

8693

In [4]:
# Verificando a forma do dataset
spaceship_titanic.shape

(8693, 14)

In [5]:
# Verificando a quando de pessoas que foram transportadas ou não para outra dimensão
len(spaceship_titanic[spaceship_titanic["Transported"] == True]), len(spaceship_titanic[spaceship_titanic["Transported"] == False])

(4378, 4315)

In [6]:
# Verificando o percentual de pessoas que foram ou não transportadas

n = (len(spaceship_titanic[spaceship_titanic["Transported"] == False])/len(spaceship_titanic))*100
s = (len(spaceship_titanic[spaceship_titanic["Transported"] == True])/ len(spaceship_titanic))*100
print(f"Não foi transportado: {n}%\nFoi transportado: {s}%")

Não foi transportado: 49.637639480041415%
Foi transportado: 50.362360519958585%

## 2. Tratando os dados

### 2.1 Verificando se tem dados NaN

In [7]:
spaceship_titanic.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

### 2.2 Tratando os dados NaN da coluna HomePlanet

In [8]:
# Pegando a moda da coluna
moda_home = spaceship_titanic["HomePlanet"].value_counts()
moda_home

Earth     4602
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64

In [9]:
# substituindo os valores NaN pela moda
spaceship_titanic["HomePlanet"].fillna(moda_home[0], inplace=True)

# Verificanco se tem NaN na coluna
spaceship_titanic.isna().sum()

PassengerId       0
HomePlanet        0
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

### 2.3 Tratando os dados NaN da coluna CryoSleep

In [10]:
# Pegando a moda da coluna
moda_sleep = spaceship_titanic['CryoSleep'].value_counts()
moda_sleep

False    5439
True     3037
Name: CryoSleep, dtype: int64

In [11]:
# Substituindo os valores NaN pela moda
spaceship_titanic["CryoSleep"].fillna(moda_sleep[1], inplace=True)

# Verificando se tem NaN na coluna
spaceship_titanic.isna().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

### 2.4 Tratando os dados NaN da coluna Cabin

In [12]:
# Pegando a moda da coluna
moda_cabin = spaceship_titanic['Cabin'].value_counts()
moda_cabin

G/734/S     8
G/109/P     7
B/201/P     7
G/1368/P    7
G/981/S     7
           ..
G/556/P     1
E/231/S     1
G/545/S     1
G/543/S     1
F/947/P     1
Name: Cabin, Length: 6560, dtype: int64

In [13]:
# Substituindo os valores NaN pela moda
spaceship_titanic["Cabin"].fillna(moda_cabin[0], inplace=True)

# Verificando se tem valores NaN na coluna
spaceship_titanic.isna().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin             0
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

### 2.5 Tratando os valores NaN da coluna Destination

In [14]:
# Verificando o datast
spaceship_titanic.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [15]:
# Pegando a moda da coluna Destination
moda_destination = spaceship_titanic["Destination"].value_counts()
moda_destination

TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: Destination, dtype: int64

In [16]:
# Substituindo os valores NaN pela moda
spaceship_titanic['Destination'].fillna(moda_destination[0], inplace=True)

# Verificando se tem valores NaN na coluna
spaceship_titanic.isna().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin             0
Destination       0
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

### 2.6 Tratando os dados NaN da coluna Age

In [17]:
# Pegando a média das idades
media_age = spaceship_titanic["Age"].mean()
media_age

28.82793046746535

In [18]:
# Substituindo os valores NaN pela média
spaceship_titanic['Age'].fillna(media_age, inplace=True)

# Verificando se tem valores NaN na coluna
spaceship_titanic.isna().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin             0
Destination       0
Age               0
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

### 2.7 Tratando os dados NaN da coluna VIP

In [19]:
# Pegando a moda da coluna VIP
moda_vip = spaceship_titanic["VIP"].value_counts()
moda_vip

False    8291
True      199
Name: VIP, dtype: int64

In [20]:
# Substituindo os valores NaN pela moda
spaceship_titanic['VIP'].fillna(moda_vip[0], inplace=True)

# Verificando se tem valores NaN na coluna
spaceship_titanic.isna().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin             0
Destination       0
Age               0
VIP               0
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

### 2.8 Tratando os dados NaN da coluna RoomService

In [21]:
# Pegando a média da coluna
media_room = spaceship_titanic["RoomService"].mean()
media_room

224.687617481203

In [22]:
# Substituindo os valores NaN pela média
spaceship_titanic['RoomService'].fillna(media_room, inplace=True)

# Verificando se tem valores NaN na coluna
spaceship_titanic.isna().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin             0
Destination       0
Age               0
VIP               0
RoomService       0
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

### 2.9 Tratando os dados NaN da coluna FoodCourt

In [23]:
# Pegando a média da coluna
media_food = spaceship_titanic["FoodCourt"].mean()
media_food

458.07720329024676

In [24]:
# Substituindo os valores NaN pela média
spaceship_titanic['FoodCourt'].fillna(media_food, inplace=True)

# Verificando se tem valores NaN na coluna
spaceship_titanic.isna().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin             0
Destination       0
Age               0
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

### 2.10 Tratando os dados NaN da coluna ShoppingMall

In [25]:
# Pegando a média da coluna
media_mall = spaceship_titanic["ShoppingMall"].mean()
media_mall

173.72916912197996

In [26]:
# Substituindo os valores NaN pela média
spaceship_titanic['ShoppingMall'].fillna(media_mall, inplace=True)

# Verificando se tem valores NaN na coluna
spaceship_titanic.isna().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin             0
Destination       0
Age               0
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

### 2.11 Tratando os dados NaN da coluna Spa

In [27]:
# Pegando a média da coluna
media_spa = spaceship_titanic["Spa"].mean()
media_spa

311.1387779083431

In [28]:
# Substituindo os valores NaN pela média
spaceship_titanic['Spa'].fillna(media_spa, inplace=True)

# Verificando se tem valores NaN na coluna
spaceship_titanic.isna().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin             0
Destination       0
Age               0
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck          188
Name            200
Transported       0
dtype: int64

### 2.12 Tratando os dados NaN da coluna VRDeck

In [29]:
# Pegando a média da coluna
media_vrd = spaceship_titanic["VRDeck"].mean()
media_vrd

304.8547912992357

In [30]:
# Substituindo os valores NaN pela média
spaceship_titanic['VRDeck'].fillna(media_vrd, inplace=True)

# Verificando se tem valores NaN na coluna
spaceship_titanic.isna().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin             0
Destination       0
Age               0
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name            200
Transported       0
dtype: int64

### 2.13 Removendo a coluna Name e PassengerId

In [31]:
spaceship_titanic = spaceship_titanic.drop('Name', axis=1)
spaceship_titanic.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [32]:
spaceship_titanic = spaceship_titanic.drop('PassengerId', axis=1)
spaceship_titanic.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

## 3. Dividindo o dataset em variáveis previsoras e targets

In [33]:
# Variáveis previsoras
x_spaceship = spaceship_titanic.iloc[:, 0:11].values
x_spaceship[0]

array(['Europa', False, 'B/0/P', 'TRAPPIST-1e', 39.0, False, 0.0, 0.0,
       0.0, 0.0, 0.0], dtype=object)

In [34]:
# variável Target
y_spaceship = spaceship_titanic.iloc[:, 11]
y_spaceship[0]

False

In [35]:
print(type(x_spaceship))

<class 'numpy.ndarray'>

In [36]:
print(x_spaceship[:, 4].dtype)

object

In [37]:
# Tranformando as colunas que tem valores boolean em str e outros valores em str
x_spaceship[:, 0] = x_spaceship[:, 0].astype('str')
x_spaceship[:, 1] = x_spaceship[:, 1].astype('str')
x_spaceship[:, 2] = x_spaceship[:, 2].astype('str')
x_spaceship[:, 3] = x_spaceship[:, 3].astype('str')
x_spaceship[:, 5] = x_spaceship[:, 5].astype('str')

x_spaceship[0]

array(['Europa', 'False', 'B/0/P', 'TRAPPIST-1e', 39.0, 'False', 0.0, 0.0,
       0.0, 0.0, 0.0], dtype=object)

## 4. Tratando os dados categóricos

In [38]:
from sklearn.preprocessing import LabelEncoder

In [39]:
# Instanciando a classe
label_home = LabelEncoder()
label_sleep = LabelEncoder()
label_cabin = LabelEncoder()
label_destination = LabelEncoder()
label_vip = LabelEncoder()

In [40]:
# Fazendo os Labels para as colunas
x_spaceship[:, 0] = label_home.fit_transform(x_spaceship[:, 0])
x_spaceship[:, 1] = label_sleep.fit_transform(x_spaceship[:, 1])
x_spaceship[:, 2] = label_cabin.fit_transform(x_spaceship[:, 2])
x_spaceship[:, 3] = label_destination.fit_transform(x_spaceship[:, 3])
x_spaceship[:, 5] = label_vip.fit_transform(x_spaceship[:, 5])

In [41]:
# Verificando
x_spaceship[:5]

array([[2, 1, 150, 3, 39.0, 1, 0.0, 0.0, 0.0, 0.0, 0.0],
       [1, 1, 2185, 3, 24.0, 1, 109.0, 9.0, 25.0, 549.0, 44.0],
       [2, 1, 2, 3, 58.0, 2, 43.0, 3576.0, 0.0, 6715.0, 49.0],
       [2, 1, 2, 3, 33.0, 1, 0.0, 1283.0, 371.0, 3329.0, 193.0],
       [1, 1, 2187, 3, 16.0, 1, 303.0, 70.0, 151.0, 565.0, 2.0]],
      dtype=object)

In [42]:
# Para a variável target
label_target = LabelEncoder()

y_spaceship = label_target.fit_transform(y_spaceship)

In [43]:
y_spaceship

array([0, 1, 0, ..., 1, 0, 1], dtype=int64)

## 5. Fazendo a separação do dataset em treino e teste

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
# Fazendo o conjunto de treino e teste
x_treino, x_teste, y_treino, y_teste = train_test_split(x_spaceship, y_spaceship, test_size=0.2, random_state=0)

In [46]:
# Verificando as formas
x_treino.shape, y_treino.shape

((6954, 11), (6954,))

In [47]:
x_teste.shape, y_teste.shape

((1739, 11), (1739,))

## 6. Salvando os dados

In [48]:
from pickle import dump

In [49]:
# Salvando os datasets de treino e teste
with open("spaceshiptitanic.pkl", "wb") as f:
    dump([x_treino, x_teste, y_treino, y_teste], f)